.counter {
    button {
        width: 20px;
        height: 20px;
        border: none;
        border: 1px solid lightgray;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input {
        text-align: center;
        width: 100px;
        height: 20px;
        border-radius: 0px;
    }
}