.counter {
    button {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        border: none;
        outline: none;
        cursor: pointer;
    }
    input {
        text-align: center;
        width: 100px;
        height: 20px;
        border-radius: 5px;
    }
}