.form-container{
    margin: 0 auto 0 auto;
padding: 3rem 0 3rem 0;
    height: 600px;
    background-color: #ebebeb;
    h1{
        font-family: montserrat;
    }
    label{
        font-size: 1.3rem;
        font-family: montserrat;
        margin-bottom: 0;
        margin-right: 1rem;
        text-align: left;
    }
    input{
        margin-left:1rem;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #1a1a1a;
    width: 50%;
    }
    button{
        margin: 3rem auto 0 auto
    }
}