.navContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 60px;
    height: 60px;
    background-color: white;
}

.nav-logo {
    a {
        text-decoration: none;
        color: black;
    }
    h2 {
        font-family: hind;
        font-weight: 500;
        span {
            font-size: 19px;
            font-family: poppins;
            font-weight: 200;
            color: #f12e2e;
        }
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    a {
        margin-right: 1em;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1.12rem;
        color: rgba(0, 0, 0, .7);
        &:hover {
            color: rgba(20, 20, 20, 0.7);
        }
    }
}