.footer {
    height: 60px;
    background-color: #fff;
    display: flex;
    h5 {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 1rem;
    }
}

.nav-logo {
    a {
        text-decoration: none;
        color: black;
        margin: 0;
    }
    h2 {
        margin: 0;
        font-family: hind;
        font-weight: 500;
        span {
            font-size: 19px;
            font-family: poppins;
            font-weight: 200;
            color: #f12e2e;
        }
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
}